<h1>Voters</h1>

<ul>
<% @local_voters.each do |voter| %>
  <li><a href="/voters/<%= voter.id %>"><%= voter.street_address %> <%= voter.apt_number %></li>
<% end %>
</ul>

<div>
<p class="foot">
  <br>
  <br>
<%= link_to "My Page", user_path(current_user) %>
</p>
</div>
