font-family: 'Cinzel', serif;
font-family: 'Vidaloka', serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Cinzel Decorative', cursive;

header  {
  font-family: 'Cinzel Decorative', cursive;
}

.wrapper  {
  font-family: 'Philosopher', sans-serif;
}

footer  {
  font-family: 'Calligraffitti', cursive;
}
