<!DOCTYPE html>
<html>
<head>
  <title>My Neighbors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Canvassing My Neighbors</h1>
  </header>

<!-- <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
    </div>
  </div>
</nav>

<div class="container"> -->
<!--   <div class="row"> -->
<%= yield %>
<!--   </div> -->
<!-- </div> -->


</body>
</html>


