<!DOCTYPE html>
<html>
<head>
  <title>My Neighbors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Canvassing My Neighbors</h1>
<!--     <p><#%= link_to 'Home', login_path %></p>
    <p>Logout</p>
    <p></p> -->
  </header>

<%= yield %>

</body>
</html>
